html{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

a{
    font-size:110%;
}

body{
    font-size:120%;
    font-weight:bold;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    font-weight: bold;
    font-style: oblique;
    font-size: 100%
}

li{
    font-style:italic;
}

blockquote{
    font-size:112%;
}

.navy{
    color:navy;
    font-style:oblique;
}

figure{
    background-color:gray;
    padding:10px;
}

h1#main-header{
    color:darkblue;
    font-style:oblique;
    font-size:250%
}

h2{
    color:navy;
    font-style:oblique;
    font-size: 190%;
}

hr{
    border-width: 0px;
    background-color:burlywood;
    height: 5px;
}

p{
    font-style: italic;
    font-weight: bold;
    font-size: 105%;
}

p>strong>em{
      text-decoration:overline underline;
      color:red;
  }

table {
    font-weight: bold;
    border-collapse: collapse;
    border: 2px solid;
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin:0em 0em 3em 1em;
}

caption {
    text-align:left;
}

tr:nth-of-type(2n){
    background-color: aqua;
}

tr:nth-of-type(odd){
    background-color:aquamarine;
}

td{
    font-weight:bold;
    border: 1px solid black;
    padding: 10px 20px;
}

th {
    font-weight:bold;
    background-color: yellowgreen;
    border: 1px solid black;
    padding: 10px 20px;
}

